/* Menu */
.nav-item{
    font-size: 20px;   
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/* Classes */


.title{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.title h2{
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-weight: 700;
}

.title .byline{
    display: block;
    padding-top: 1em;
    font-weight: 300;
    font-size: 1.1em;
}