<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CronoServlet</servlet-name>
        <servlet-class>controler.CronoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlashcardServlet</servlet-name>
        <servlet-class>controler.FlashcardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>controler.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>executar_login</servlet-name>
        <servlet-class>controler.executar_login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CronoServlet</servlet-name>
        <url-pattern>/CronoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlashcardServlet</servlet-name>
        <url-pattern>/FlashcardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>executar_login</servlet-name>
        <url-pattern>/executar_login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
